@import url("/syntax-dark.css") screen and (prefers-color-scheme: dark);
@import url("/syntax-light.css") print, (prefers-color-scheme: light);
@import url(https://fonts.bunny.net/css?family=red-hat-text:300,300i,400,400i,500,500i,600,600i,700,700i|red-hat-mono:400,400i,500,700,700i|red-hat-display:700);

@media only screen {
	html {
		margin-left: calc(100vw - 100%);
	}
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font: 1em/1.5 "Red Hat Text",Roboto,"Trebuchet MS","Helvetica Neue",Helvetica,Ubuntu,sans-serif;
	color: #1d1d1d;
	background: #fafafa;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

::selection{
	background: #f7a;
	color: #fff
}

a:link,a:visited{
	position:relative;
	transition: 0.3s color ease;
	text-decoration: none;
	color: #0094ff;
}
a:focus,a:hover{
	color: #f7a;
	outline: none;
}
a:after{
	content: "";
	transition:0.4s all ease;
	position:absolute;
	bottom:-.16em;
	left:0;
	height:.15em;
	width:0%;
	background:#f7a;
}
a:focus:after,a:hover:after{
	width:100%;
}

img{
	max-width: 100%;
	border: 0;
}

header{
	max-width: 780px;
	width: 100%;
	margin: 0 auto;
	padding: 10px 10px 0;
}

nav{
	display: flex;
	align-items: center;
	/*
	padding: 30px 0 10px calc((100vw - 790px)/2);
	border-bottom: 2px solid #f7a;
	color: #999;
	background: #1d1d1d;
	*/
}

nav a{
	margin: 0 15px;
}

/*
nav>a,nav>a:link,nav>a:visited{
	color: #fff !important;
	margin: 0 5px;
	display: inline-block;
}

nav>a:hover,nav>a:focus{
	color: #f7a;
}
*/

nav a:first-child{
	margin-left: 0;
	color: #000 !important;
	font-weight: 500;
	background: #7fa;
	padding: 3px 15px;
	font-size: 1.2em;
	font-family: 'Red Hat Mono', monospace;
}

nav a:last-child{
	margin-right: 0 !important;
}

@media (max-width: 370px) {
	nav{font-size: .85em;}
}

@media (min-width: 650px) {
	header{
		margin: 20px auto;
	}
}

.content, footer{
	max-width: calc(min(780px,100%));
	margin: 0 auto;
	padding: 10px;
}

footer {
	font-style: italic;
	font-size: .85em;
}

h1{
	font: 1.75em/1.2 "Red Hat Display", "Red Hat Text", sans-serif;
	line-height: 1.1;
	margin: 0 0 .5em;
}

.landing h1.title{
	font-size: 2em;
	text-align: center;
}

h2{
	margin: 25px 0 0;
	font: 1.2em/1.4 "Red Hat Display", "Red Hat Text", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

h3{
	font-size: 1.2em;
}

h3,h4,h5,h6{
	margin: 6px 0;
}

p,ol,ul{
	margin: 5px 0 16px;
}

ol,ul{
	padding: 0 0 0 28px;
}

li{
	margin: 0 0 4px;
	padding: 0 0 0 6px;
}

code{
	font-family: "Red Hat Mono",Consolas,monospace;
	font-size: 15px;
	/*display: inline;
	white-space: pre-wrap;*/
	padding: 0 .125em;
}

pre{
	padding: 10px;
	overflow: auto;
}

code.block{
	display: inline-block;
	padding: 5px;
	word-break: break-all;
	margin: 0 0 16px;
	font-size: .85em;
}

blockquote{
	padding: 10px 20px;
	margin: 0;
	border-left: 2px solid #7fa;
	background: linear-gradient(135deg, #7fa1, #7fa0);
}

small{
	font-size: .85em;
	line-height: 1;
}

.articlenav{
	padding: 5px 15px;
	margin-bottom: 16px;
	display: inline-block;
	border-left:  3px solid #f7a;
}

.meta{
	font-size: .9rem;
}

.article-signoff{
	margin: 2em 0;
	text-align: right;
}

time {
	font-variant-numeric: tabular-nums;
}

.article-signoff .author{
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

.article-signoff p{
	margin: 0;
}

.landing p{
	text-align: center;
	max-width: 500px;
}

ul.blog-listing{
	list-style-type: none;
	padding: 0;
}

ul.blog-listing li{
	padding: 0;
	display: flex;
	justify-content: space-between;
	gap: 1em;
	margin: 10px 0;
}

ul.blog-listing li time{
	flex-shrink: 0;
}

@media screen and (max-width: 500px){
	ul.blog-listing li{
		flex-direction: column-reverse;
		gap: 0;
	}
}

@media screen and (prefers-color-scheme:dark){
	html{
		color-scheme: dark;
	}
	
	body{
		color: #fff9f9;
		background: #111;
	}

	a:link, a:visited{
		color: #4df;
	}

	a:focus, a:hover{
		color: #f7a;
	}

	svg{
		fill: #fff;
	}

	nav{
		border-bottom-color: #c33000;
	}
}

@media print{
	nav a:first-child{
		-webkit-print-color-adjust:exact;
		print-color-adjust:exact;
	}
}
