{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.extra.shorttitle %}{{ page.extra.shorttitle }} - {% elif page.title %}{{ page.title }} - {% endif %}Wesley Deal</title>
<link rel="stylesheet" href="/style.css">
<body{% if page.slug %} id="{{ page.slug }}"{% endif %}>
<header>
	<nav>
		{% block homelink %}
		<a href="/">Wesley Deal</a>
		{% endblock homelink %}
		{% block breadcrumb %}
		{% set current = section | default(value=page) %}
		{% for ancestor in current.ancestors %}
		{% if loop.first %}
		{% continue %}
		{% endif %}
		<span>/</span>
		{% set section = get_section(path=ancestor) %}
		<a href="{{ section.permalink }}">{{ section.title }}</a>
		{% endfor %}
		<span>/</span>
		<a href="{{ current.permalink }}">●</a>
		{% endblock breadcrumb %}
	</nav>
</header>
<section class="content">
	{% block content %} {% endblock %}
</section>
<footer>
	No rights reserved. <a href="https://github.com/wesleydeal/deal.digital{% if page.relative_path %}/edit/master/content/{{ page.relative_path }}{% endif %}">View source here</a>. Provided as-is, no warranty, etc.
	Built {{ now(utc=true) | date(format="%Y-%m-%d %H:%M:%S UTC") }} with <a href="https://www.getzola.org/">Zola</a> on GitHub <a href="https://github.com/wesleydeal/deal.digital/actions">Actions</a>, hosted on GitHub Pages.
	Thanks to Red Hat for <a href="https://www.redhat.com/en/about/brand/standards/typography">the typefaces</a>.
</footer>
</body>
</html>