<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Wesley Deal</title>
<link rel="stylesheet" href="/style.css">
<header>
	<nav>
		<a href="/">Wesley Deal</a>
		{% block breadcrumb %}
		{% set current = section | default(value=page) %}
		{% for ancestor in current.ancestors %}
		{% if loop.first %}
		{% continue %}
		{% endif %}
		<span>/</span>
		{% set section = get_section(path=ancestor) %}
		<a href="{{ section.permalink }}">{{ section.title }}</a>
		{% endfor %}
		<span>/</span>
		<a href="{{ current.permalink }}">.</a>
		{% endblock breadcrumb %}
	</nav>
</header>
<section class="content">
	{% block content %} {% endblock %}
</section>
<footer>
	 No rights reserved. This webpage is provided as-is, without warranty or guarantee of any kind. You may copy, modify, and/or distribute its contents as desired, unless otherwise stated. Available on and published through <a href="https://github.com/wesleydeal/wesleydeal.github.io">GitHub</a> using the <a href="https://www.getzola.org/">Zola static site generator</a>.
</footer>

</html>
