{% extends "base.html" %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<article class="landing">
	<h1 class="title">
		Hello, I'm Wesley.
	</h1>
	<p>This page is 🚧 <b>under construction</b> 🚧 as a playground for Zola, HTML/CSS, design principles, and CI/CD with GitHub Actions.</p>
	<div class="landing-link-container">
		<div class="landing-link-column">
			<h2>See my...</h2>
			<ul>
				<li><a href="resume">Resume</a></li>
				<li><a href="https://github.com/wesleydeal">GitHub</a></li>
				<li><a href="https://linkedin.com/in/wesley-deal">LinkedIn</a></li>
				<li><a href="now">Now Page</a></li>
				<li><a href="links">Links</a></li>
			</ul>
		</div>
		<div class="landing-link-column">
			<h2>Articles</h2>
			<ul>
				<li><a href="blog/librechat">Deploy LibreChat for cheap LLM queries</a></li>
				<li><a href="blog/shorelock">Unlock a [Shore/Mi]Tel Director</a></li>
				<li><a href="blog/smart-seagate">Interpret Seagate read/seek error rates</a></li>
				<li><a href="tools/tpmiddle">Scroll &amp; middle-click with a TrackPoint</a></li>
			</ul>
		</div>
	</div>
</article>
{% endblock content %}
