{% extends "base.html" %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<article class="landing">
	<h1 class="title">
		Hello, I'm Wesley.
	</h1>
	<p>This page is 🚧 <b>under construction</b> 🚧 as a playground for Zola, HTML/CSS, design principles, and CI/CD with GitHub Actions. Below, you will find a handful of mostly incomplete pages hosted here.</p>
	<h2>Links</h2>
	<ul>
		<li><a href="resume">Resume</a></li>
		<li><a href="blog">Blog</a></li>
		<li><a href="tools/tpmiddle">TPMiddle: Scroll & middle-click with the TrackPoint</a></li>
		<li><a href="https://github.com/wesleydeal">My GitHub</a></li>
		<li><a href="https://linkedin.com/in/wesley-deal">My LinkedIn Page</a></li>
	</ul>
</article>
{% endblock content %}
